<% content_for :css do %>
  <link rel="stylesheet" href="/stylesheets/comentarios.css">
<% end %>
<p id="comentario_<%= comentario.id %>">
  <%= comentario.conteudo %> -
  <%= link_to '(remover)', comentario, method: :delete,
    remote: true, id: "remove_comentario_#{comentario.id}" %>
</p>